.container {
    width: 90%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

ol.center {
    display: block;
    text-align: left;
}

/* body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* html {
    display: flex;
    justify-content: center;
    align-items: center;
} */

hr {
    width: 100%;
}

.font {
    font-family: 'Noto Sans', 'Segoe UI', 'Microsoft JhengHei', 'Microsoft YaHei', 'sans-serif';
}

.box {
    flex: 1;
    margin: 5px;
    min-width: 210px;
    border: 1px solid #CCC;
    padding: 0 10px 10px 10px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}

.mainpage_row {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0
}

@media (min-width: 768px) {
    .container {
        width: 75%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 60%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 50%;
    }
}